In [1]:
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
from urllib.request import urlopen

url="https://search.naver.com/search.naver?where=news&sm=tab_jum&query=%ED%99%8D%EC%9D%B5%EB%8C%80%ED%95%99%EA%B5%90"

page=urlopen(url)
soup=BeautifulSoup(page,"html.parser")

In [3]:
soup.select('ul.type01>li>dl>dt>a')[0]

<a class="_sp_each_url _sp_each_title" href="http://www.cctoday.co.kr/news/articleView.html?idxno=2099940" onclick="return goOtherCR(this, 'a=nws*b.tit&amp;r=1&amp;i=8811CF31_000000000000000000500761&amp;g=5160.0000500761&amp;u='+urlencode(this.href));" target="_blank" title="홍익대 건축공학부 팀 대학생 건축 공모전 대상"><strong class="hl">홍익대</strong> 건축공학부 팀 대학생 건축 공모전 대상</a>

In [4]:
news_title=[]
news_paper=[]

In [5]:
titles=soup.select('ul.type01>li>dl>dt>a')

for title in titles:
    print(title['title'])
    news_title.append(title['title'])

홍익대 건축공학부 팀 대학생 건축 공모전 대상
자가격리 수험생들 대입 논술·실기 못 보나…대학들 줄줄이 통보
세종 홍익대 건축공학부 팀 대학생 건축 공모전 대상
[인터뷰] 송규만 서울건축문화제 총감독 “틈새건축으로 주거양식에 새로운 해법 제시”
그날의 진실 뮤지컬 '광주', 5·18민주화운동 40주년 기념 특별기획전'19800518-광주' 개최
"논술 보다 감염되면 남은 대입 차질…개인 방역수칙 중요"
홍익여류한국화회 '동행(同行)' 전 개최
홍익대학교, 국내 최초 ‘공공디자인’ 박사과정 신설
부산교육대학교 한새갤러리, 이형구 개인전
2021 대입 논술전형, 이번주 토요일 시작

In [6]:
papers=soup.select('ul.type01>li>dl>dd>span')
for paper in papers:
    print(paper.text)
    news_paper.append(paper.text)

충청투데이

뉴시스


불교공뉴스

서울경제언론사 선정


문화뉴스

뉴스1


시사매거진

에듀동아

부산일보


굿모닝충청

In [7]:
data1=pd.DataFrame({'paper':news_paper})

In [8]:
data1

         paper
0        충청투데이
1
2          뉴시스
3
4
5        불교공뉴스
6
7   서울경제언론사 선정
8
9
10        문화뉴스
11
12         뉴스1
13
14
15       시사매거진
16
17        에듀동아
18
19        부산일보
20
21
22       굿모닝충청
23

* 빈칸이 결측치는 아니다.

In [9]:
data1=data1.drop(data1.index[[1,3,4,6,8,9,11,13,14,16,18,20,21,23]])
data1=data1.reset_index()
data1

   index       paper
0      0       충청투데이
1      2         뉴시스
2      5       불교공뉴스
3      7  서울경제언론사 선정
4     10        문화뉴스
5     12         뉴스1
6     15       시사매거진
7     17        에듀동아
8     19        부산일보
9     22       굿모닝충청

In [15]:
data1=data1.drop(['index'],axis='columns')
data1

        paper
0       충청투데이
1         뉴시스
2       불교공뉴스
3  서울경제언론사 선정
4        문화뉴스
5         뉴스1
6       시사매거진
7        에듀동아
8        부산일보
9       굿모닝충청

In [10]:
data2=pd.DataFrame({'title':news_title})
data2

                                               title
0                          홍익대 건축공학부 팀 대학생 건축 공모전 대상
1                 자가격리 수험생들 대입 논술·실기 못 보나…대학들 줄줄이 통보
2                       세종 홍익대 건축공학부 팀 대학생 건축 공모전 대상
3     [인터뷰] 송규만 서울건축문화제 총감독 “틈새건축으로 주거양식에 새로운 해법 제시”
4  그날의 진실 뮤지컬 '광주', 5·18민주화운동 40주년 기념 특별기획전'19800...
5                   "논술 보다 감염되면 남은 대입 차질…개인 방역수칙 중요"
6                             홍익여류한국화회 '동행(同行)' 전 개최
7                       홍익대학교, 국내 최초 ‘공공디자인’ 박사과정 신설
8                             부산교육대학교 한새갤러리, 이형구 개인전
9                           2021 대입 논술전형, 이번주 토요일 시작

In [18]:
result=pd.concat([data1,d`ata2],axis=1)
result

        paper                                              title
0       충청투데이                          홍익대 건축공학부 팀 대학생 건축 공모전 대상
1         뉴시스                 자가격리 수험생들 대입 논술·실기 못 보나…대학들 줄줄이 통보
2       불교공뉴스                       세종 홍익대 건축공학부 팀 대학생 건축 공모전 대상
3  서울경제언론사 선정     [인터뷰] 송규만 서울건축문화제 총감독 “틈새건축으로 주거양식에 새로운 해법 제시”
4        문화뉴스  그날의 진실 뮤지컬 '광주', 5·18민주화운동 40주년 기념 특별기획전'19800...
5         뉴스1                   "논술 보다 감염되면 남은 대입 차질…개인 방역수칙 중요"
6       시사매거진                             홍익여류한국화회 '동행(同行)' 전 개최
7        에듀동아                       홍익대학교, 국내 최초 ‘공공디자인’ 박사과정 신설
8        부산일보                             부산교육대학교 한새갤러리, 이형구 개인전
9       굿모닝충청                           2021 대입 논술전형, 이번주 토요일 시작